<div class="home_about">
<h4>Working together to fund your local community.</h4>
<div class="home_about_link"><%= link_to 'About Us', 'pages/about' %></div>
</div>


<h6>CrowdKitty helps local communities find the support they need to make their dreams for their community become a reality. Watch creative projects — big and small — come to life with the support of your community for your community.</h6>




