<!-- <div class="logo_wrapper">
<center><%#=image_tag('Crowd_Kitty_2.png', alt: "Home", width:1000) %></center>
</div> -->

<div class="about_box">

  <div class="about_header">
    <h1>About Us</h1>
    <%#=image_tag('profileteam.jpg', alt: "Our Team") %>
  </div>

  <div class="about_text">
    <h3><%=image_tag('kitty.jpg', alt: "Home", width:30) %> What is CrowdKitty?</h3>
    <h6>CrowdKitty is an innovative crowdfunding platform that provides a way for people to join forces and make ideas happen.</h6>
    <p>Since 2015, we have had a simple mission: to empower everyone to change their world, one idea at a time. CrowdKitty was started in order to revolutionize the ability of ordinary people to fund worthy projects that can help make their local communities better. So what can we help you do? You might want to revamp an old playground, put on an event to bring the locals together, or create something completely new for your community. Use CrowdKitty to help raise funds, donations, get support and promote your project today!</p>
    <br>

      <h3><%=image_tag('kitty.jpg', alt: "Home", width:30) %> Who are we?</h3>
      <div class="about_us">
        <center>
          <div class="hover-tile-outer" id='left-tile'>
            <div class="hover-tile-container">
              <div class="hover-tile hover-tile-visible"><h3>Chae Cramb</h3></div>
              <div class="hover-tile hover-tile-hidden">
                <h4>Chairman</h4>
                <p>Chae is a Co-Founder and Chairman of CrowdKitty.</p>
              </div>
            </div>
          </div>

          <div class="hover-tile-outer" id='middle-tile'>
            <div class="hover-tile-container">
              <div class="hover-tile hover-tile-visible"><h3>Kat Kiernan</h3></div>
              <div class="hover-tile hover-tile-hidden">
                <h4>Brand Manager</h4>
                <p>Kat is a Co-Founder and Brand Manager of CrowdKitty. A former English and Media teacher, she decided to join Codeclan, in 2015, with the aim of finding a new challenge. Here she met Chae and Keith and together they quickly established CrowdKitty.</p>
              </div>
            </div>
          </div>

          <div class="hover-tile-outer" id='right-tile'>
            <div class="hover-tile-container">
              <div class="hover-tile hover-tile-visible"><h3>Keith Martin</h3></div>
              <div class="hover-tile hover-tile-hidden">
                <h4>Managing Director</h4>
                <p>Keith is a Co-Founder and Managing Director of CrowdKitty.</p>
              </div>
            </div>
          </div>
        </center>
      </div>

      <h3><%=image_tag('kitty.jpg', alt: "Home", width:30) %> Why do we do it?</h3>
      <p>Great ideas are hard to make happen and wanting to help but not being able to is a frustrating feeling. We know first hand what that feels like. Chae Cramb was a parent trying to open an after school club. Kathryn Kiernan searched for funds for a theater company in her spare time. Keith Martin started a charity event to help raise money for a homeless shelter. Our struggles to find funding revealed a fundamental flaw:  access to funds has and is controlled by a select few.
        <br>
        <br>
        So, what are you waiting for? Let's get started...</p>

    </div>
  </div>