<!-- <div class="logo_wrapper">
<center><%#=image_tag('Crowd_Kitty_2.png', alt: "Home", width:1000) %></center>
</div> -->

<div class="about_box">

  <div class="about_header">
    <h1>About Us</h1>
    <%#=image_tag('profileteam.jpg', alt: "Our Team") %>
  </div>

  <div class="about_text">
    <h3><%=image_tag('kitty.jpg', alt: "Home", width:25) %> What is CrowdKitty?</h3>
    <h6>CrowdKitty is an innovative crowdfunding platform that provides a way for people to join forces and make ideas happen.</h6>
    <p>Since 2015, thousands of people have backed hundreds of projects with the aim of trying to bring big dreams to life that will better their local community. We have a simple mission: to empower everyone to change the world, one idea at a time. Kathryn, Keith, and Chae started CrowdKitty in order to revolutionize the ability of ordinary people to fund worthy projects that can help make local communities better.</p>

    <h5><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Who are we?</h5>
    <p> </p>

    <h5><%=image_tag('kitty.jpg', alt: "Home", width:25) %> What do we do?</h5>
    <p>CrowdKitty help to get ideas designed funded and realized. We provide the tools to help campaigns—large and mainstream, or small and personal—boost the awareness and funds to get there.</p>

<div class="about_hover">

  <div class="about_hover_left">
    <div class="hover-tile-outer">
      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible">
        </div>
        <div class="hover-tile hover-tile-hidden">
          <h4>Hidden Copy</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
        </div>
      </div>
    </div>
  </div>


<div class="about_hover_right">
  <div class="hover-tile-outer">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible">
      </div>
      <div class="hover-tile hover-tile-hidden">
          <h4>Hidden Copy</h4>
          <p>Lorem ipsum dolor provident eligendi fugiat ad exercitationem sit amet, consectetur adipisicing elit. Unde, provident eligendi.</p>
      </div>
    </div>
  </div>
</div>

</div>

  <h5><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Why do we do it?</h5>
  <p>Great ideas are hard to make happen and wanting to help but not being able to is a frustrating feeling. We know first hand what that feels like. Chae Cramb was a parent trying to open an after school club. Kathryn Kiernan searched for funds for a theater company in her spare time. Keith Martin started a charity event to help raise money for a homeless shelter. Our struggles to find funding revealed a fundamental flaw:  access to funds has and is controlled by a select few.
    <br>
    <br>
    So, what are you waiting for? Let's get started...</p>
  </div>
</div>