<div class="images-wrapper">
<center><%=image_tag('title.jpg', alt: "Home", width:1000) %></center>
</div>

<h1>About Us</h1>

<h5><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Who are we?</h5>
<p>CrowdKitty is an innovative crowdfunding platform that provides a way for people to join forces and make ideas happen. Since 2015, thousands of people have backed hundreds of projects with the aim of trying to bring big dreams to life that will better their local community. We have a simple mission: to empower everyone to change the world, one idea at a time.</p>

<h5><%=image_tag('kitty.jpg', alt: "Home", width:25) %> What do we do?</h5>
<p>CrowdKitty help to get ideas designed funded and realized. We provide the tools to help campaigns—large and mainstream, or small and personal—boost the awareness and funds to get there.</p>

<h5><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Why do we do it?</h5>
<p>Great ideas are hard to make happen and wanting to help but not being able to is a frustrating feeling. We know first hand what that feels like. Chae Cramb was a parent trying to open an after school club. Kathryn Kiernan searched for funds for a theater company in her spare time. Keith Martin started a charity event to help raise money for a homeless shelter. Our struggles to find funding revealed a fundamental flaw:  access to funds has and is controlled by a select few. Kathryn, Keith, and Chae started CrowdKitty in order to revolutionize the ability of ordinary people to fund worthy projects that can help make local communities better.
<br>
<br>
So, what are you waiting for? Let's get started...</p>