<h1>Contact Us</h1>

<div class="contact_us">

  <div class="image_maps">
    <%=image_tag('gmap.jpg', alt: "Home", width:600) %>
  </div>

  <div class="contact_details">
    <p><strong>Our Address </strong><br>
      Argyle House, 3 Lady Lawson St, Edinburgh EH3 9DS</p>

      <p><strong>Our Email </strong><br>
        If you've got a question please get in touch with us at:<br> 
        crowdkitty@teamawesome.com</p>

        <p><strong>Our Customer Services</strong><br>
          0808 100 0707 *<br>
          0330 123 0707 **<br>
          Day Opening Hours<br>
          Monday to Friday: 8am to 8pm<br>
          Saturday: 8am to 6pm</p>
          <div class="terms">
            <p>* 0800 numbers are free from BT landlines.<br>
              ** 03 numbers mean that all calls from private telephones,<br> including mobiles, will only be charged at local rate. They<br> will also be included as part of any inclusive call minutes<br> provided by your phone operator.</p>
            </div>
          </div>

        </div>