<h1>Contact Us</h1>

<div class="contact_us">

  <div class="image_maps">
  <%=image_tag('gmap.jpg', alt: "Home", width:600) %>
  </div>

  <div class="contact_details">
  <p><strong>Our Address </strong><br>
  Argyle House, 3 Lady Lawson St, Edinburgh EH3 9DS</p>

  <p><strong>Our Email </strong><br>
  If you've got a question please get in touch with us at:<br> 
  crowdkitty@teamawesome.com</p>


  </div>

</div>