
<h4>Create a New Project</h4>


<div class="bootcamp_boxes">
  <div class="bootcamp">

   <div class="bootcamp_box1">
     <div class="box-header-image">
       <img src="/assets/user.png">
     </div>
     <div class="box-header-title">
       <h4>Create a Profile</h4>
     </div>
     <div class="box_text">
       <p>Start by searching for movies that you like. Once you've found a movie, click 'Add' and you will have started on your way to a Must See experience. </p>
     </div>
   </div>

   <div class="bootcamp_box2">
     <div class="box-header-image">
       <img src="/assets/pen.png">
     </div>
     <div class="box-header-title">
       <h4>Plan Your Project</h4>
     </div>
     <div class="box_text">
       <p>Make a list to keep all of your movies organised, managable and the best part, you can have an unlimited number! </p>
     </div>
   </div>

   <div class="bootcamp_box3">
     <div class="box-header-image">
       <img src="/assets/kitty.jpg">
     </div>
     <div class="box-header-title">
       <h4>Make Your Project</h4>
     </div>
     <div class="box_text">
       <p>Once you have added a movie, you can reviewing it. What did you love? Hate? Would you recommend it to a friend? Start writing now!</p>
     </div>
   </div>

   <div class="bootcamp_box4">
     <div class="box-header-image">
       <img src="/assets/pound_tree.png">
     </div>
     <div class="box-header-title">
       <h4>Get Funding</h4>
     </div>
     <div class="box_text">
       <p>Not sure what to watch next? Read reviews from your friends and the Must See community, you never know what you may find.</p>
     </div>
   </div>
 </div>

</div>

<div class="create_project_advice">
  <div class="advice_text_left">

  </div>
  <div class="advice_text_right">

  </div>
  <div class="input" id="create_project_input">
    <center><%= link_to 'Create a Project', new_project_path %></center>
  </div>
</div>