<br>

<h3>Create a New Project</h3>

<div class="bootcamp_boxes">
</div>

<div class="create_project_advice">

  <div class="advice_box">
    <h2 id="advice_box_tagline">CrowdKitty is a dedicated, crowdfunding platform that can help you make your dreams for your community, become a reality.</h2> 


    <div class="advice_text_left">
      <p>We are here to help you make your community a better place. We help you do this by creating a space where you can develop, promote and raise money for any community project that you want to make happen.</p>
      <p id ="further_information"></p>
    </div>


    <div class="advice_text_right">

      <div class="box-header-title">
        <h4>1. Create a Profile</h4>
      </div>
      <div class="box_text">
        <p>Start by registering with CrowdKitty and create a profile. Telling people who you are, what you interested in and what you are planning to do will help attract supporters for your cause.</p>
      </div>

      <div class="box-header-title">
        <h4>2. Plan Your Project</h4>
      </div>
      <div class="box_text">
        <p>Before you fill out the project form or start to raise money for your cause, you should go through a planning stage. A well planned and clear project has a greater chance of attracting supporters. </p>
      </div>

      <div class="box-header-title">
        <h4>3. Make Your Project</h4>
      </div>
      <div class="box_text">
        <p>At this stage, you will provide the basic information, pictures, design plan and description for your project. When you complete the create project form, you can set the status of your project will be set to 'Planning' until the project reaches its start date. </p>
      </div>

      <div class="box-header-title">
        <h4>4. Get Funding</h4>
      </div>
      <div class="box_text">
        <p>Once the start date of your project is reached, it will automatically go live. At this point you will no longer be able to edit the information that you have provided. You do have a noticeboard attached to your project, which will help keep your supporters informed about any developments in your project.</p>
      </div>

    </div>

  </div>

  <div class="create_project_row">
    <div class="input" id="create_project2">
      <%= link_to 'Create a Project', new_project_path %>
    </div>
    <div class="link">
      <%= link_to 'Read About How CrowdKitty Works', '/pages/how_it_works' %>
    </div>
  </div>
</div>
