
<h1>Frequently Asked Questions</h1> 

<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">Backing a Project</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">Creating a Project</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">Running a Project</a>
    <a class="scroll-on-page-link" href="#scroll-link-4"></a>
    <a class="scroll-on-page-link" href="#scroll-link-5"></a>
    <a class="scroll-on-page-link" href="#scroll-link-6"></a>
    <a class="scroll-on-page-link" href="#scroll-link-7">Troubleshoot Your Problem</a>
  </aside>

  <article>
    <section>
      <h3 id="scroll-link-1"><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Backing a Project</h3>
      <h2>How can I find interesting projects to back?</h2>
      <p> If the most popular or finishing soon projects on our home page didn't catch your eye, then there are many more to leaf through on our 'Discover Projects' page. Here you can view all projects that are scheduled to start soon or are currently 'live' and raising money. You can narrow your search further with our category filter. You can even see closed projects to get ideas about people who are running projects or see what you might be interested in backing in the future. You may even be inspired to setup a project of your own! </p>
      <br>
      <h2>How do I pledge?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <br>
      <h2>How do I pay?</h2>
      <p>You don't have to any bank details until the project you have pledged to is successful. If the project is successful, we will notify you in your profile and via email. It's only at this point all the money business is sorted. For security reasons, we do not store any of your bank details on our website. You will only be asked to pay if, and only if, the project hits its funding target. If your project doesn't succeed, you won't be contacted and charged anything.</p>
    </section>
    <section>
      <h3 id="scroll-link-2"><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Creating a Project</h3>
      <h2>What kind of project can I create?</h2>
      <p>Projects on CrowdKitty must be designed with a clear and deliverable end goal that will specifically benefit your local community in some way. Things like building a playground, helping out a local charity, or putting on a community event are just the ticket for our jolly little site. However, there are a few strings for obvious reasons. For example, we only accept projects based in the UK. Please see 'Terms and Conditions' page for full details.</p>
      <br>
      <h2>How do I create a project?</h2>
      <p>Anyone that meets our Guidelines is eligible to create a project on CrowdKitty. Just click the 'Create Project' link in the menu bar above to begin your project. Just fill out the form that pops up on that page with all the relevant details. If you want to add rewards, you can do that after you've created your project.</p>
      <br>
      <h2>Can projects raise more than their target?</h2>
      <p>Of course! As soon as you reach your fundraising target your campaign will be decelared successful but we won't stop further pledges. You can raise as much money as possible in the alloted time that you have set for the project. However, you have to satisfy both the backers and CrowdKitty that this extra money is being used in a worthy manner. It must be spent towards the cause it was intended. For further information on this or for some general advice you can contact CrowdKitty and speak to one of our lovely advisors.</p>
    </section>
    <section>
      <h3 id="scroll-link-3"><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Running a Project</h3>
      <h2>How do I edit a project I am running?</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <br>
      <h2>How do I cancel a project I am running?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <br>
      <h2>What happens if a project does reach its target?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <br>
      <h2>Can I share my project on social media?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
    </section>
    <section>
      <h3 id="scroll-link-4"><%=image_tag('kitty.jpg', alt: "Home", width:25) %> Backing a Project</h3>
      <h2>How can I find interesting projects to back?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <br>
      <h2>How do I pledge?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <br>
      <h2>How do I pay?</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
    </section>
  </article>
</div>
