
<h1>Frequently Asked Questions</h1> 

<h2>Backing a Project</h2>

<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">How can I find interesting projects to back?</a>
  <div id="js-expander-content" class="expander-content">
    <p> If the most popular or finishing soon projects on our home page didn't catch your eye, then there are many more to leaf through on our 'Discover Projects' page. Here you can view all projects that are scheduled to start soon or live. You can narrow your search further with our category filter. You can even see closed projects to get ideas about people who are running projects or see what you might be interested in backing in the future. You may even be inspired to setup a project of your own! </p>
  </div>
</div>

<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">How do I pledge?</a>
  <div id="js-expander-content" class="expander-content">
    <p>To pledge to a project, first make sure that you're logged in to your CrowdKitty account. Then, just click the “Pledge” button on any live project page. You will be asked to enter your pledge amount. When making a pledge, with some projects, you can select a reward tier. These are dependent on the amount you pledge and a way for the people running the project to say thank you. your'd like to receive and your pledge amount will automatically populate. If you don't want a reward, then you can just pledge some money and get a lovely warm feeling for being so good. Lastly, click "Pledge." Woo-hoo! Then, you're all set. </p>
  </div>
</div>

<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">How do I pay?</a>
  <div id="js-expander-content" class="expander-content">
    <p>You don't have to any bank details until the project you have pledged to is successful. If the project is successful, we will notify you in your profile. It's only at this point all the money business is sorted. For security reasons, we do not store any of your bank details on our website. You will only be asked to pay if, and only if, the project hits its funding target. If your project doesn't succeed, you won't be contacted and charged anything.</p>
  </div>
</div>
 
 <h2>Creating a Project</h2>

 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">What kind of project can I create?</a>
   <div id="js-expander-content" class="expander-content">
     <p>Everything on CrowdKitty must be a project of civic value with a clear and deliverable end goal. Things like building a playground, revamping the local park, or putting on a community festival are just the ticket for our jolly little site. However, there are a few strings for obvious reasons. For example, we only accept projects based in the UK. Please see 'Terms and Conditions' page for full details of our eligibility criteria. </p>
   </div>
 </div>

 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">How do I create a project?</a>
   <div id="js-expander-content" class="expander-content">
     <p>Anyone that meets our Guidelines is eligible to create a project on CrowdKitty.Just click the 'Create Project' link in the menu bar above to begin your project. Just fill out the form that pops up on that page with all the relevant details. If you want to add rewards, you can do that after you've created your project.</p>
   </div>
 </div>

 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Can projects raise more than their goal?</a>
   <div id="js-expander-content" class="expander-content">
     <p>Of course! As soon as you reach your fundraising target your campaign will be decelared successful but we won't disallow further pledges. You can raise as much money as possible in the alloted time taht you have set for the project. However, you have to satisfy both the backers and CrowdKitty that this extra money is being used in a worthy manner. It must be spent towards the cause it was intended. For further information on this or for some general advice you can contact CrowdKitty and speak to one of our lovely advisors.</p>
   </div>
 </div>
