
<h1>Frequently Asked Questions</h1> 

<h2>Project Funding</h2>

<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">How do I pledge?</a>
  <div id="js-expander-content" class="expander-content">
    <p>To pledge to a project, just click the “Pledge” button on any live project page. You will be asked to enter your pledge amount. You don't have to any bank details until the project you have pledged to is successful. If the project is successful, we will notify you in your profile. It's only at this point all the money business is sorted. For security reasons, we do not store any of your bank details on our website. You will only be asked to pay if, and only if, the project hits its funding target. If your project doesn't succeed, you won't be contacted and charged anything. </p>
  </div>
</div>

<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">How do I pledge?2</a>
  <div id="js-expander-content" class="expander-content">
    <p>2To pledge to a project, just click the “Pledge” button on any live project page. You will be asked to enter your pledge amount. You don't have to any bank details until the project you have pledged to is successful. If the project is successful, we will notify you in your profile. It's only at this point all the money business is sorted. For security reasons, we do not store any of your bank details on our website. You will only be asked to pay if, and only if, the project hits its funding target. If your project doesn't succeed, you won't be contacted and charged anything. </p>
  </div>
</div>


