<h1>Privacy Policy</h1>

<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">What We Collect</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">What’s Private</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">What’s Only Shared with Creators</a>
    <a class="scroll-on-page-link" href="#scroll-link-4">What’s Public</a>
    <a class="scroll-on-page-link" href="#scroll-link-5">Uses of Your Personal Information</a>
    <a class="scroll-on-page-link" href="#scroll-link-6">Email</a>
    <a class="scroll-on-page-link" href="#scroll-link-7">Wrap-up</a>
    <a class="scroll-on-page-link" href="#scroll-link-7">Questions</a>
  </aside>

  <article>
    <section>
      <h4 id="scroll-link-1">What We Collect</h4>
      <p>In order for you to create an account on CrowdKitty and use our services, we need to collect and process some information. Depending on your use of the Services, that may include:</p>
      <p> - information (such as your name, email and postal addresses, telephone number, and country of residence) that you provide by completing forms on CrowdKitty, including if you register as a user of the Services, subscribe to our newsletters, upload or submit any material through CrowdKitty, or request any information;
        <br>
        - your login and password details, in connection with the account sign-in process;
        details of any requests or transactions you make through the Services;<br>
        - information about your activity on and interaction with CrowdKitty, such as your IP address and the type of device or browser you use;<br>
        - communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem); and<br>
        - information that you submit to CrowdKitty in the form of comments, contributions to discussions, or messages to other users.</p>
      </section>
      <section>
        <h4 id="scroll-link-2">What’s Private</h4>
        <p>This data will not be publicly displayed or revealed to other users:

          any payment information you provide
          your password details
          your IP address
          your phone number
          communications you send to us (for example, when you ask for support, send us questions or comments, or report a problem)
          We don’t give your personal information to any third-party services, except when it’s necessary to provide CrowdKitty’s Services (like when we partner with payment processors). When we share data with third-party services that support our delivery of the CrowdKitty Services, we require that they protect your personal information to the same standards we do.</p>
          <p>We do reserve the right to disclose personal information when we believe that doing so is reasonably necessary to comply with the law or law enforcement, to prevent fraud or abuse, or to protect CrowdKitty’s legal rights.</p>
        </section>
        <section>
          <h4 id="scroll-link-3">What’s Only Shared with Creators</h4>
          <p>When you back a project, the project’s creator will know your account name, the amount you have pledged, and the reward you have selected. Creators never receive backers’ credit card details or other payment information.</p>
          <p>If a project you have backed is successfully funded, the creator will receive the email address associated with your CrowdKitty account. They may also send you a survey requesting information needed to provide your reward. (For instance, they may need your mailing address, or T-shirt size.) Any information you provide in such surveys will be received by the creator.</p>
          <p>Creators may also receive anonymized information about the ways people visit and interact with their project pages, in the form of routine traffic analytics. You can choose not to be included in Google Analytics here.</p>
        </section>
        <section>
          <h4 id="scroll-link-4">What’s Public</h4>
          <p>When you create an account, we create a basic profile page for you on CrowdKitty, containing your account name, the date the account was created, and a list of projects you have backed or launched. Whenever your account name appears on CrowdKitty (for instance, when you post comments, send messages, or back projects), people can click your account name to see your profile. The profile is not searchable on CrowdKitty or via search engines like Google. Here are some of the things that will be publicly viewable on your profile, or elsewhere on CrowdKitty:</p>
          <p>the account name, and the date it was created
            any information you choose to add to your profile (like a picture, bio, or your location)
            projects you've backed (but not pledge amounts or rewards chosen)
            projects you've launched
            any comments you’ve posted on CrowdKitty
            if you have "Liked" a project update
            Please note that each project page lists the community of users who have backed the project. If you don’t want others to see your name in a project’s Backers tab, choose an account name that is not identifiable (e.g., CatLuvr02).</p>
            <p>Creators are also asked to verify their identities before launching a project. Once this has been done, the creator’s Verified Name will be publicly displayed on their account profile and on any projects they launch.</p>
          </section>
          <section>
            <h4 id="scroll-link-5">Uses of Your Personal Information</h4>
            <p>We will use the personal information you provide to:</p>
            <p>identify you when you sign in to your account;
              enable us to provide you with the Services;
              send you marketing communications we think you may find useful, but only in accordance with your email preferences;
              present projects to you when you use the Services which we believe will be of interest based on your geographic location and previous use of the Services;
              administer your account with us;
              enable us to contact you regarding any question you make through the Services;
              analyze the use of the Services and the people visiting to improve our content and Services; and
              use for other purposes that we may disclose to you when we request your information.
              We take securing your data and preserving your privacy very seriously. We never post anything to your Facebook, Twitter, or other third-party accounts without your permission. CrowdKitty Project Creators never receive backers’ credit card details or other payment information. We do not and will not sell your data.</p>
            </section>
            <section>
              <h4 id="scroll-link-6">Email</h4>
              <p>We want to communicate with you only if you want to hear from us. We try to keep emails to a minimum and give you the ability to opt out of any marketing communications we send.</p>
              <p>We will send you email relating to your personal transactions. You will also receive certain marketing email communications, in accordance with your preferences, and from which you may opt out at any time.</p>
              <p>We may send you service-related announcements on the rare occasions when it is necessary to do so.</p>
            </section>
            <section>
              <h4 id="scroll-link-7">Wrap-up</h4>
              <p>To modify or delete the personal information you have provided to us, please log in and update your profile. We may retain certain information as required by law or for necessary business purposes.</p>
              <p>On request, we will give you a copy of all the personal information about you that we hold. This information is subject to a fee not exceeding the prescribed fee permitted by law.</p>
              <p>People under 18 (or the legal age in your jurisdiction) are not permitted to use CrowdKitty on their own, and so this privacy policy makes no provision for their use of CrowdKitty.</p>
              <p>Information that you submit through the Services may be transferred to countries other than where you reside (for example, to our servers in the United States). We will protect all information we receive in accordance with this privacy policy.</p>
            </section>
            <section>
              <h4 id="scroll-link-8">Questions?</h4>
              <p>If you have questions or suggestions, please contact us. Updated: April 2015</p>
              <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
          </article>
        </div>
