<h1>Privacy Policy</h1>

<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">What We Collect</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">What’s Private</a>
    <a class="scroll-on-page-link" href="#scroll-link-3">What’s Only Shared with Creators</a>
    <a class="scroll-on-page-link" href="#scroll-link-4">What’s Public</a>
    <a class="scroll-on-page-link" href="#scroll-link-5">Uses of Your Personal Information</a>
    <a class="scroll-on-page-link" href="#scroll-link-6">Email</a>
    <a class="scroll-on-page-link" href="#scroll-link-7">Questions</a>
  </aside>

  <article>
    <section>
      <h4 id="scroll-link-1">What We Collect</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      </section>
      <section>
        <h4 id="scroll-link-2">What’s Private</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
        </section>
        <section>
          <h4 id="scroll-link-3">What’s Shared Only With Creators</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
        </section>
        <section>
          <h4 id="scroll-link-4">What’s Public</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
          </section>
          <section>
            <h4 id="scroll-link-5">Uses of Personal Information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-6">Email</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-7">Questions?</h4>
              <p id="questions_link">If you have questions, please <%= link_to 'contact us', '/pages/contact' %>. Updated: December 2015</p>
              <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
          </article>
        </div>
