<h1>Terms and Conditions</h1>
CrowdKitty is an online crowd-funding platform for community projects. CrowdKitty allows people ("Project Owners") to post projects on our website to raise the funds to fund them.
<br>
<br>
<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Acceptance of Terms of Use</a>
  <div id="js-expander-content" class="expander-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.
</p>
  </div>
</div>

 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Registration</a>
   <div id="js-expander-content" class="expander-content">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
   </div>
 </div>
      
      <div class="expander">
        <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Content</a>
        <div id="js-expander-content" class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
        </div>
      </div>

      <div class="expander">
        <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Use of the Site</a>
        <div id="js-expander-content" class="expander-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
        </div>
      </div>

  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Personal Data and Cookies</a>
    <div id="js-expander-content" class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Cancellation</a>
    <div id="js-expander-content" class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.

</p>
    </div>
  </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">User Submissions</a>
    <div id="js-expander-content" class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
    </div>
  </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Project Owners</a>
    <div id="js-expander-content" class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
    </div>
  </div>
  
 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Fund-raising</a>
   <div id="js-expander-content" class="expander-content">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
   </div>
 </div>
 
 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Disclaimer</a>
   <div id="js-expander-content" class="expander-content">
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
   </div>
 </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">General Provisions</a>
    <div id="js-expander-content" class="expander-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.

Suspendisse potenti. In nec lorem nec urna ornare semper. Pellentesque aliquet nulla in lectus tincidunt, at ornare turpis blandit. Phasellus suscipit est neque, a varius magna luctus eget. Vivamus est risus, sagittis vitae volutpat in, vehicula eu erat. Ut nunc metus, fermentum eu accumsan id, egestas et erat. Aliquam velit turpis, blandit ac efficitur ac, varius ut turpis. Cras tempor nisi eu elit posuere, vel commodo dolor rhoncus. Donec quis orci sed elit pellentesque sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras facilisis tortor laoreet ante facilisis, sed convallis quam ornare.</p>
    </div>
  </div>
