<h1>Terms and Conditions</h1>
CrowdKitty is an online crowd-funding platform for community projects. CrowdKitty allows people ("Project Owners") to post projects on our website to raise the funds to fund them.
<br>
<br>
<div class="scroll-on-page">
  <aside id="scroll-on-page-top">
    <a class="scroll-on-page-link" href="#scroll-link-1">Acceptance of Terms of Use</a>
    <a class="scroll-on-page-link" href="#scroll-link-2">Registration/a>
    <a class="scroll-on-page-link" href="#scroll-link-3">Content</a>
    <a class="scroll-on-page-link" href="#scroll-link-4"> Use of the Site</a>
    <a class="scroll-on-page-link" href="#scroll-link-5">Personal Data and Cookies</a>
    <a class="scroll-on-page-link" href="#scroll-link-6">Cancellation</a>
    <a class="scroll-on-page-link" href="#scroll-link-7">User Submissions</a>
    <a class="scroll-on-page-link" href="#scroll-link-8">Project Owners</a>
    <a class="scroll-on-page-link" href="#scroll-link-9">Fund-raising</a>
    <a class="scroll-on-page-link" href="#scroll-link-10">Disclaimer</a>
    <a class="scroll-on-page-link" href="#scroll-link-11">General Provisions</a>
  </aside>

  <article>
    <section>
      <h4 id="scroll-link-1">Acceptance of Terms of Use</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
      </section>
      <section>
        <h4 id="scroll-link-2">Registration</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
        </section>
        <section>
          <h4 id="scroll-link-3">Content</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
        </section>
        <section>
          <h4 id="scroll-link-4">Use of the Site</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
          </section>
          <section>
            <h4 id="scroll-link-5">Personal Data and Cookies</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-6">Cancellation</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-7">User Submissions</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-8">Project Owners</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-9">Fund-raising</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-10">Disclaimer</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna.</p>
            </section>
            <section>
              <h4 id="scroll-link-11">General Provisions</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lacinia eleifend. Proin in lorem et diam vestibulum maximus id ac magna. Pellentesque vehicula nisl lacus, nec sodales lectus viverra eget. Nulla facilisi. Nulla venenatis eget nibh a rhoncus. Aliquam a leo nec urna semper maximus. Fusce luctus orci ut magna ullamcorper tincidunt. Praesent nec purus imperdiet, commodo elit nec, egestas ipsum. Praesent facilisis rutrum diam eu pellentesque. Aliquam sem mi, euismod vitae nisl vel, tincidunt faucibus urna. Updated: December 2015</p>
              <a class="scroll-on-page-link" href="#scroll-on-page-top">Back to top</a>
            </section>
          </article>
        </div>
