<h1>Terms and Conditions</h1>
CrowdKitty is an online crowd-funding platform for civic projects. CrowdKitty allows people ("Project Promoters") to post projects on our website to raise the funds to fund them.
<br>
<br>
<div class="expander">
  <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Acceptance of Terms of Use</a>
  <div id="js-expander-content" class="expander-content">
    <p>Please read these terms and conditions (the "Agreement" or "Terms of Use"), carefully before using www.CrowdKitty.com (the "Site") and the services offered (the "Service") by CrowdKitty Limited ("CrowdKitty", "we", "us", or "our"). Any defined terms not defined in the body of this Agreement are set out in Clause 20. This Agreement sets forth the legally binding terms and conditions for your use of the Site and Service and applies to all users of the Site and/or Service, including all users who are also contributors of content, information, and other materials or services on the Site. By using this Site and/or Service in any manner you agree to be bound by this Agreement.
        
        This Agreement also incorporates the Privacy Policy available at www.CrowdKitty.com/Home/PrivacyPolicy and the Cookie Policy available at www.CrowdKitty.com/Home/CookiePolicy, and all other rules, policies and procedures that may be published from time to time on the Site each of which may be updated by CrowdKitty from time to time without notice to you. Some services offered through the Service may be subject to additional terms and conditions promulgated by CrowdKitty from time to time; your use of such services is subject to those additional terms and conditions, which are incorporated into this Agreement by this reference.
       
        We may revise this Agreement from time to time by updating this page and the revised Terms of Use will take effect when they are posted on the Site. It is your responsibility to check this Agreement periodically for changes. Your continued use of the Service following the posting the revised Terms of Use constitutes your acceptance of those changes.
        
        We may change, suspend, or discontinue the Service or any part at any time with or without notice. Where notice is given, it may be posted on the Site or sent by email. We retain discretion to impose limits on certain features or services, and/or restrict your access to parts or all of the Service without notice or liability.
        
        CrowdKitty may, in its sole discretion, refuse to offer the Service to any person or entity and may change its eligibility criteria at any time. </p>
  </div>
</div>

 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Registration</a>
   <div id="js-expander-content" class="expander-content">
     <p>You may browse the Site and view Content without registering. You may be required to register to open an account with CrowdKitty ("Account") and select a password and username to access certain parts of the Site.
  Where you are required to open an Account with CrowdKitty:
  you must provide us with accurate and complete registration information (failure to do so shall constitute a breach of this Agreement and may result in the immediate termination of your Account);
  you must safeguard your username and password;
  you authorise us to assume that any person using the Site through your Account is either you or authorised to act for you; and
  you shall not select or use as a username or the name of a domain:
  a name of another person with the intent to impersonate that person;
  a name that is subject to any rights of a person other than you without appropriate authorisation; or
  a name that is offensive, vulgar or obscene.
  CrowdKitty has sole discretion to refuse or cancel your registration on the basis of a breach of any of the requirements in Clause 2.2 above. You are solely responsible for activity that occurs on your Account and shall be responsible for maintaining the confidentiality of your password. You shall never use another user’s Account without such other user’s express permission. You shall immediately notify CrowdKitty in writing of any unauthorised use of your Account, or other Account-related security breach of which you are aware.
  Registering with CrowdKitty is free; however, CrowdKitty retains a small proportion of pledges made as a fee for our services detailed on the "Costings" section of the Project on the Site ("Project Page"). Fees are collected for CrowdKitty by the Payment Platform and CrowdKitty invoices PDMs in respect of donations made outside of the Site. Our fees amount to 5% of the subtotal of cost items listed in the Costings section of the Project Page. Changes to any fees are effective once posted on the Site. We may choose to temporarily change the fees for our services for promotional events or new services, and such changes are effective when we post the promotional event or new service on the Site.
  You are responsible for paying all fees and applicable taxes associated with your use of the Site.</p>
   </div>
 </div>
      
      <div class="expander">
        <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Content</a>
        <div id="js-expander-content" class="expander-content">
          <p>You acknowledge that Content on the Site is subject to certain Intellectual Property Rights.
  Content may be accessed for your own personal, non-commercial use only. Where the functionality is provided, you may also for this purpose download reasonable excerpts of Content. Other than this, you shall not use, download, copy, licence, distribute, perform, publish, transfer, modify, translate, create derivative works from, or otherwise exploit any Content. You shall not reverse engineer or otherwise attempt to derive any source code or underlying ideas or algorithms of any part of the Site, except to the limited extent that the Applicable Law specifically allows.
  Nothing you do on or in relation to the Site will transfer any Intellectual Property Rights to you or license you to exercise any Intellectual Property Rights unless this is expressly stated.
  You shall abide by and maintain all copyright notices, information, and restrictions contained in any Content accessed through the Service.
  We expressly prohibit linking by other sites to any part of this Site other than the home page (so-called "deep-linking") or other than we have otherwise expressly given permission. In addition, we expressly prohibit the linking to the home page of this Site in such a manner that suggests or could be understood to imply that any part of this Site is part of another web site and, in particular, third parties must not frame or use other techniques to enclose any part of this Site.</p>
        </div>
      </div>

      <div class="expander">
        <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Your Use of the Site</a>
        <div id="js-expander-content" class="expander-content">
          <p>You shall not (nor permit any third party using your Account):
  disrupt or interfere with the Site (including, without limitation, by the introduction of computer viruses, logic bombs, Trojan horses, worms, harmful components, corrupted data or other malicious software or harmful data) or otherwise misuse the Site (including, without limitation, by hacking);
  take any action that: (i) imposes or may impose an unreasonable or disproportionately large load on CrowdKitty’s (or its third party providers’) infrastructure; (ii) bypasses any measures CrowdKitty may use to prevent or restrict access to the Service (or other accounts, computer systems or networks connected to the Service); (iii) runs Maillist, Listserv, any form of auto-responder or "spam" on the Service; or (iv) uses manual or automated software, devices, or other processes to "crawl" or "spider" any page of the Site;
  violate any Applicable Law through your use of the Site;
  collect or store personal data about other users of the Site other than in accordance with the Privacy Policy;
  post or transmit to or from the Site any material that:
  you know is false, misleading, untruthful or inaccurate;
  is threatening, defamatory, offensive, pornographic, obscene, indecent, seditious, abusive, liable to incite racial hatred, discriminatory, menacing, scandalous, inflammatory, blasphemous, in breach of confidence, in breach of privacy, or which may cause annoyance or inconvenience;
  impersonates any person or entity, including any employee or representative of CrowdKitty;
  constitutes unsolicited or unauthorised advertising or promotional material;
  infringes any Intellectual Property Rights of any person or violates any law or contractual duty; or
  you have not obtained all necessary licences and/or approvals to post.
  CrowdKitty will fully cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity or locate anyone posting any material (whether or not in breach of section 4.1(e) above).
  You shall abide by the Applicable Law in relation to your use of the Site and Service.
  CrowdKitty does not guarantee that any Content or User Submissions (as defined in Clause 8.1) will be made available on the Site or through the Service. CrowdKitty has no obligation to monitor the Site, Service, Content, or User Submissions. CrowdKitty reserves the right to remove, edit or modify any Content (including without limitation any User Submissions) in its sole discretion at any time without notice to you and for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such Content or if CrowdKitty is concerned that you may have violated this Agreement), or for no reason at all.</p>
        </div>
      </div>

  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Links</a>
    <div id="js-expander-content" class="expander-content">
      <p>The Site and Service may link to other third party websites or resources which are not under CrowdKitty’s control (including, without limitation, sites linked through advertisements or search engines) ("Third Party Sites"). CrowdKitty has not reviewed Third Party Sites and the inclusion of any such link does not imply endorsement by CrowdKitty.
  You acknowledge and agree that CrowdKitty is not responsible or liable for the content, functions, accuracy, legality, appropriateness or any other aspects of Third Party Sites and you agree to access them at your own risk. You further acknowledge and agree that CrowdKitty shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of or reliance on any such content, goods or services available on or through any Third Party Site.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Personal Data and Cookies</a>
    <div id="js-expander-content" class="expander-content">
      <p>In using the Site you may provide us with "personal data" as defined in the Data Protection Act 1998 ("DPA").
  By using the Site you consent to our use of your personal data in accordance with our Privacy Policy and to our use of cookies as set out in our Cookie Policy.
  If CrowdKitty provides any user of the Site or Service (including, without limitation a Project Promoter, PDM, Project Verifier or Hive Managers (as defined in Clause 10)) with any personal data, such user (the "Data User") shall be the data controller of that personal data. The Data User undertakes that it shall: (a) only process such personal data to the extent and in such manner as is reasonably necessary, for the purpose for which it has been given the personal data (the "Data Purpose"); (b) comply with the DPA whilst processing such personal data and in particular, but without limit, keep such personal data secure; (c) not disclose the personal data to any person (except as necessary for the Data Purpose); and (d) indemnify CrowdKitty against any claim brought by a third-party arising from a breach of its obligations under this Clause 6.3.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Cancellation</a>
    <div id="js-expander-content" class="expander-content">
      <p>You may cancel your Account at any time by writing to us at info@CrowdKitty.com. Any fees paid hereunder are non-refundable. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, the Clauses entitled "Disclaimer", Limitation of Liability" and "General Provisions" and any ownership provisions, warranty disclaimers, indemnities and limitations of liability.
  We may cancel your access to all or any part of the Service at any time, with or without cause or notice, effective immediately, which may result in the forfeiture and destruction of all information associated with your Account.
  We may cancel your Account if we reasonably believe that you have violated any Applicable Law, breached this Agreement, or have violated our rights or those of another user of the Site or Service.
  Following cancellation of your Account we may retain any information linked to your Account for such period as may be required by Applicable Law.</p>
    </div>
  </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">User Submissions</a>
    <div id="js-expander-content" class="expander-content">
      <p>If you add, create, upload, submit, distribute, collect, or post ("Submitting" or "Submission") Content to the Site (collectively, the "User Submissions"), you grant CrowdKitty and/or the Service, solely for the purpose of promoting or developing a Project, a non-exclusive, worldwide, perpetual, irrevocable, royalty-free, sub-licensable right to exercise any and all Intellectual Property Rights therein, in any media known now or in the future. In addition, you waive all moral rights you have in the Content to the fullest extent permitted by the Applicable Law.
  By Submitting any User Submission to the Site, you:
  acknowledge that you may be identified publicly by your username in association with any such User Submission; and
  represent and warrant, and can demonstrate to CrowdKitty’s satisfaction upon request that you: (i) own or otherwise control all Intellectual Property Rights and rights to privacy in all content in your User Submissions; (ii) have full authority to act on behalf of any and all owners of any right, title or interest in and to any content in your User Submissions to use such content as contemplated by this Agreement and to grant the licence rights set forth above; (iii) have the permission to use the name and likeness of each identifiable individual person and to use such individual’s identifying or personal information as contemplated by this Agreement; and (iv) are authorised to grant all of the aforementioned rights to the User Submissions to CrowdKitty and all users of the Service;
  CrowdKitty reserves the right to edit, cancel, interrupt or suspend a posting of Content and/or a Project or Hive at any time for any reason.</p>
    </div>
  </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Project Promoters and Rewards</a>
    <div id="js-expander-content" class="expander-content">
      <p>The Project Promoter shall be responsible for accurately compiling and submitting to CrowdKitty a Project Plan and Budget for the relevant Project.
  The Project Promoter agrees and acknowledges that both CrowdKitty and the Project Verifier may reject or request changes to the Project Plan and Budget.
  Once a Project Plan and Budget has been accepted by CrowdKitty and the Project has reached the ‘Details Verified Phase’, the Project Promoter represents and warrants that the Project Plan and Budget is accurate and complete in all material respects.
  The Project Promoter is responsible for the accuracy of all content on the Project Promoter's Project Page.
  Unless expressly stated otherwise, CrowdKitty does not act as Project Promoter and accepts no liability for the actions of the Project Promoter.
  At its sole discretion, Project Promoters may offer non-monetary rewards ("Rewards") to Funders of their Projects. Rewards may be sourced independently or from donors ("Reward Donors").
  In the event that the Project Promoter chooses to offer Rewards to Funders of its Project, it is the responsibility of the Project Promoter to: (a) agree the contractual terms with the Reward Donors for receiving the Rewards; (b) create and display on the Project Promoter’s Project Page terms and conditions for receiving the Rewards (compliant with all legal requirements and codes of practices) ("Reward Terms") which will be binding on eligible Funders; and (c) arrange delivery of Rewards in accordance with the Reward Terms.
  The Reward delivery date listed in a Project Promoter’s Reward Terms is an estimate of when the Project Promoter will provide the Reward and not a guarantee. Project Promoters shall specify Reward delivery dates with care and shall communicate with Funders about any changes.
  Project Promoters may communicate with Funders to obtain information such as delivery addresses or clothing sizes and Funders shall provide any requested information in a reasonable amount of time.
  Project Promoters shall not offer Rewards that are violate any of CrowdKitty’s rules or guidelines or violate Applicable Law. A Project Promoter’s Reward Terms do not form part of this Agreement. CrowdKitty accepts no liability for the failure of Project Promoters to deliver Rewards to Funders. The Project Promoter hereby indemnifies CrowdKitty against any claims made by Funders against CrowdKitty arising from the Project Promoter’s failure or alleged failure to deliver Rewards.
  Hive Managers
  CrowdKitty reserves the right to give certain users the ability to create branded campaign pages ("Hive Managers").
  In addition to those other applicable rights and restrictions herein, CrowdKitty grants the right to Hive Managers to edit their own Hive pages and the ability to add and remove Projects from their Hive. CrowdKitty reserves the right to delete, edit, modify reformat, excerpt, or translate any materials, content or information submitted or edited by Hive Managers.</p>
    </div>
  </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Appointment of the Project Verifier and PDM</a>
    <div id="js-expander-content" class="expander-content">
      <p>CrowdKitty will appoint a Project Verifier responsible for assessing the viability and feasibility of the Project Promoter's Project before a Project is permitted to proceed to fundraising pursuant to Clause 14 below. CrowdKitty retains the right to request information from Project Promoters as part of its ongoing monitoring of Projects and the Site.
  Project Verifiers may also act as a Funder, Project Promoter and/or supplier to the Project.
  On submitting a Project Plan and Budget to the Site, the Project Promoter shall nominate a PDM for the relevant Project ("PDM Nominee"). PDM Nominees will receive an email from CrowdKitty requesting the PDM Nominee’s agreement to act as PDM for the relevant Project as set out in the final form Project Plan and Budget ("PDM Appointment Request"). On accepting the PDM Appointment Request, the PDM Nominee: (a) is appointed as PDM for the relevant Project; (b) agrees to deliver the Project as set out in the Project Plan and Budget; and (c) agrees to comply with its obligations under Clause 12 of this Agreement in delivering the Project.
  In no circumstances does CrowdKitty act as a PDM. Unless expressly stated otherwise, CrowdKitty does not act as a Project Verifier and accepts no responsibility or liability for the actions of Project Verifiers or PDMs.
  Obligations of the PDM
  This Clause 12 sets out the obligations and responsibilities of PDMs in relation to an individual Project (as set out in the relevant Project Page on the Site).
  In relation to each and any Project, the PDM agrees: (a) to use the relevant Fund only for the purposes of the Project and in accordance with the terms of this Clause 12; and (b) not to use the relevant Fund for any other purpose without the prior written agreement of CrowdKitty.
  The PDM shall complete the Project in accordance with all material details on the Project Page (subject to any reasonable amendments which may be required by CrowdKitty, the Project Verifier or Applicable Law). The PDM shall act in the best interests of the Funders and use reasonable care to perform the PDM Services to the standard that may be expected of someone experienced at implementing projects of a similar size, scope and complexity to the relevant Project.
  The PDM acknowledges that the Fund is the only source of funds for any relevant Project and the PDM shall have no right to require any further monies or funding for the Works or the Project or remuneration for the PDM Services from CrowdKitty, the Project Verifier or the Funders. Any costs or liabilities in delivering the Project which exceed the amount of the Fund shall be for the PDM’s own account and in no circumstances shall CrowdKitty, the Project Verifier or the Funders be liable to make any payment in respect of such costs or liabilities.
  The PDM shall make the necessary arrangements with the Payment Platform to enable funds to be donated by Funders for a Project and to be paid to (and refunded by) the PDM subject to the terms of this Clause 12.
  The PDM shall be entitled to retain from the Fund as remuneration for the PDM Services only such amount as may be specified on the relevant Project Page.
  If the costs of delivering a Project in accordance with the relevant Project Page are less than the Net Total Donations, the PDM shall apply the surplus in accordance with the Project Page or as otherwise stated on the Site in relation to the application of surplus Fund money.
  The PDM shall in respect of a relevant Project:
  on request, keep the Project Verifier informed on all aspects of the progress of the Project and on request provide CrowdKitty or the Project Verifier with all such other information, explanations and documents in connection with the Project or proper use of the Fund as CrowdKitty or the Project Verifier may reasonably require;
  properly manage any contractors and volunteers employed or engaged by the PDM to facilitate performance of the PDM Services;
  grant any person authorised by CrowdKitty or the Project Verifier reasonable access to its employees, agents, premises, facilities and records, for the purpose of monitoring and evaluating the PDM’s fulfilment of this Clause 12;
  advise the Project Verifier and supporters as soon as is reasonably practicable of any matters that will or are reasonably likely to delay the completion or increase the cost of a Project;
  maintain appropriate insurance (in line with the size, scope and complexity of the Project) to cover its liability; and
  if requested by CrowdKitty or the Project Verifier, provide a final report on completion of the relevant Project which shall confirm whether the relevant Project has been successfully and properly completed.
  The PDM’s appointment of contractors shall not limit or derogate from the PDM’s obligations under this Agreement and the PDM shall be liable for all acts and omissions of any contractors it employs.
  The PDM agrees to comply with any request issued by the Project Verifier in respect of a Project as if such request had been issued by CrowdKitty.
  In respect of the relevant Project, the PDM shall indemnify and hold harmless CrowdKitty, the Project Verifier and the Funders from all liabilities, claims, losses and expenses arising from a breach by the PDM of this Clause 12, including, but not limited to, reasonable legal fees, that arise from or relate to:
  the performance of a Project, failure to complete, or an unreasonable delay in completing, the Project; or
  death, illness or injury to any third party or personnel of the PDM or for loss of or damage to any third party’s property or the property of personnel of the PDM and arising out of any act, error or omission (whether negligent or otherwise) on the part of the PDM, its affiliates or agents in the performance of any of its obligations hereunder.
  Where the PDM has been provided with a right to use the Intellectual Property Rights of CrowdKitty or the Project Verifier in connection with a Project (including without limitation the CrowdKitty name and logo), the PDM shall, on termination or expiry of its appointment, cease to use such Intellectual Property Rights immediately and shall either return or destroy any materials comprising such Intellectual Property Rights as requested by CrowdKitty or the Project Verifier.
  The PDM shall at all times keep secret and confidential all information designated as being confidential (or whose confidentiality is implied) which is disclosed to it by CrowdKitty, the Project Verifier or the Project Promoter, as a result of its involvement in the relevant Project and shall not use or disclose such information to any person save to the extent necessary for compliance with its obligations under this Clause 12 or as required by Applicable Law.
  The obligation of confidentiality contained in this Clause 12 shall not apply or shall cease to apply to any such information (a) which at the time of its receipt by the PDM is already in the public domain or which subsequently enters the public domain other than by breach of Clause 12.13 by the PDM; (b) which is already known to the PDM at the time of its disclosure and was not otherwise acquired by the PDM under any obligations of confidence; (c) which is acquired by the PDM from a third party having the right to disclose the same; or (d) whose disclosure is required by Applicable Law or ordered by any court of competent jurisdiction or any competent judicial, governmental, supervisory or regulatory body.
  Without prejudice to CrowdKitty's other rights and remedies, CrowdKitty may at its sole discretion terminate (or instruct the Project Verifier to terminate) the appointment of a PDM in respect of all of relevant Projects at any time with or without cause upon notice to the PDM.
  After fund raising has commenced for a particular project, the PDM may only terminate its appointment for such Project if it finds a substitute PDM ("Substitute PDM") approved in writing by CrowdKitty. The Substitute PDM shall assume the rights and obligations of the PDM under this Agreement.
  If CrowdKitty exercises its rights of termination under Clause 12.15 the PDM shall upon receipt of the relevant notice from CrowdKitty (or the Project Verifier):
  take immediate steps to procure that all outstanding work in relation to the relevant Project(s) is terminated as soon as reasonably practicable in an orderly manner;
  refund to each Funder, through the relevant Payment Platform, such proportion of the relevant donation as reflects the total of the Fund for the relevant Project less: (i) the cost of Works carried out in accordance with the Project Page of the relevant Project prior to the date of such termination; (ii) that part of its remuneration for the relevant Project pursuant to Clause 12.6 which shall have accrued prior to the date of such termination; and where relevant, (iii) subject to this Clause 12.17, the direct costs wholly and necessarily incurred by the PDM and resulting from such termination provided always that the same have arisen otherwise than through any act omission default or negligence on the part of the PDM. The PDM shall also be entitled to deduct from such refund any reasonable costs incurred in making arrangement to pay such refund.
  Upon any termination of a PDM’s appointment for a Project, CrowdKitty shall not be liable to the PDM for any loss of profit, loss of contracts or other costs, losses and/or expenses arising out of or in connection with such termination.
  Any termination of a PDM’s appointment in relation to a particular Project shall not affect the continuance of the PDM’s obligations to perform the PDM Services in relation to any other Project.
  The PDM (and all users of the Site or Service) acknowledge and agree that neither CrowdKitty nor the Project Verifier shall have any liability for any consequences, whether direct or indirect, that may arise from the PDM accepting an appointment under this Agreement, or the use of the Fund, in relation to any Project. In particular, but without limitation, CrowdKitty shall not be liable to the PDM for any direct or indirect loss, costs or expenses arising out of or in connection with the PDM’s appointment or any termination.
  The PDM warrants, undertakes and agrees that at all times: (a) it has all necessary resources and expertise to deliver the Project set out in the relevant Project Page; (b) it has not committed any Prohibited Act; (c) it shall at all times comply with all Applicable Law; (d) all financial and other information concerning the PDM which has been disclosed to CrowdKitty or posted on the Site in relation to the Project is to the best of its knowledge and belief, true and accurate; and (e) any donations made offline direct to the PDM and represented to CrowdKitty are true and accurate.
  In relation to any legal action, dispute, difference or proceedings between the PDM and CrowdKitty arising out of or in connection with this Clause 12 ("Dispute") (whether arising out of or in connection with contractual or non-contractual obligations) the PDM and CrowdKitty shall attempt in good faith to resolve such Dispute promptly through negotiations between their respective representatives having authority to settle the same. If such negotiations have failed to resolve the Dispute within thirty (30) days of the commencement of such negotiations, CrowdKitty or the PDM may at any time refer the Dispute to adjudication under the Housing Grants, Construction and Regeneration Act 1996 and any such adjudication will be carried out pursuant to the version of the Adjudication Rules of the Technology and Construction Court’s Solicitors Association which is current at the date of the PDM’s appointment. No such adjudication shall be consolidated with any other dispute or difference involving any third party without the prior written agreement of CrowdKitty.
  All legal notices required to be given by the PDM, the Project Verifier or CrowdKitty under or in connection with a PDM’s appointment shall, unless requested otherwise by CrowdKitty, be in writing and shall be delivered by email to the email address notified from time to time in writing by the relevant parties.
  In relation to the PDM’s performance of the PDM Services pursuant to this Clause 12, the Contracts (Rights of Third Parties) Act 1999 shall not apply and no provision of this Clause 12 creates any right enforceable by any person other than CrowdKitty or the relevant PDM save for the terms set out in Clauses 12.3, 12.10, 12.7.3, 12.7.4, 12.7.6, 12.9, 12.10, 12.12 and 12.22 which may be enforced by a Project Verifier or Funder (as the case may be).
  Notwithstanding the above, the rights of CrowdKitty and the PDM to terminate or rescind, or agree any amendment or variation of, or waive rights under in relation to the PDM's appointment are not subject to the consent of any Project Verifier, Funder or any other person.
  Any user acting as Project Promoter, PDM or Hive Manager for a Project shall acknowledge the support of CrowdKitty in any materials and presentations about or that refer to such Project. Such acknowledgements (where appropriate or as requested by CrowdKitty) shall include CrowdKitty's name and logo in compliance with such guidelines as may be provided by CrowdKitty from time to time.
  CrowdKitty and/or the Project Verifier may acknowledge the involvement of a Project Promoter, PDM or Hive Manager in a Project without prior notice.</p>
    </div>
  </div>


 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Fund-raising</a>
   <div id="js-expander-content" class="expander-content">
     <p>All funds for a Project are collected for PDMs either: (a) through the Payment Platform ("Online Pledges"); or (b) by way of offline pledges direct to the PDM (which are registered as offline donations on the relevant Project Page) ("Offline Pledges").
  The Fund for a relevant Project will comprise both Online Pledges and Offline Pledges and in determining whether or not the Target Amount for the relevant Project has been reached by the Target Date, CrowdKitty shall take into account the total of both Online Pledges and Offline Pledges.
  CrowdKitty makes no guarantees regarding the performance or fairness of the Payment Platform. Additionally, due to occasional failures of some credit cards and funding sources, CrowdKitty cannot guarantee the full receipt of the Target Amount.
  When a Funder agrees to pledge funds to a Project through the Payment Platform:
  the pledged payment will only be made if CrowdKitty: (i) is satisfied that the Target Amount set for the relevant Project has been reached by the Target Date; (ii) notifies the Funder that the Target Amount has been met; and (iii) instructs the Payment Platform to charge the Funder for the full amount of the pledge and to pass all pledged amounts to the relevant PDM (subject to deduction of any applicable fees from CrowdKitty, the relevant Payment Platform and Project Verifiers in respect of the relevant pledges). The Funder agrees that CrowdKitty is entitled to pass such instructions to the Payment Platform.
  if CrowdKitty is not satisfied that the Target Amount set for the relevant Project has been reached by the Target Date it shall notify the Funders of the failure to reach the Target amount as soon as reasonably practicable and allow all pledges made to expire.
  The PDM for the relevant Project (not CrowdKitty) is responsible for issuing refunds for pledges that have been collected by the PDM.
  Any payment of funds pledged by a Funder is subject to the terms and conditions of the relevant Payment Platform.
  CrowdKitty reserves the right to cancel, suspend or refund any pledges made at any time for any reason. If CrowdKitty receives fees on pledges for a Project which is subsequently cancelled, it shall pass instructions to the PDM and/or the relevant Payment Platform to refund pledges to Funders less any applicable charges in respect of such refunds.</p>
   </div>
 </div>
 
 <div class="expander">
   <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Disclaimer</a>
   <div id="js-expander-content" class="expander-content">
     <p>You use the Site at your own risk. You must evaluate, and bear all risks associated with, the use of any Content, including reliance on the accuracy, completeness or usefulness of any Content. All information provided on or via the Site is for information purposes only. You should seek your own independent advice with respect to any Content.
  We endeavour to provide a convenient and functional Site, but we do not guarantee that the Content will be error free or that the Site or the server that operates it is free of viruses or other harmful components. Although we will use reasonable endeavours to maintain the Content, we do not undertake to provide support or maintenance services for the Content.
  If your use of the Site results in the need for servicing or replacing property, material, equipment or data, CrowdKitty shall not be liable for such costs.
  You acknowledge that all information publicly posted or privately transmitted through the Site is the sole responsibility of the person from which such content originated and that CrowdKitty will not be liable for any errors or omissions in any content. CrowdKitty cannot guarantee the identity of any other users with whom you may interact in the course of using the Service.
  CrowdKitty is not responsible for messages of endorsement posted by third parties on Project Pages, Hives or any area of the site. All third party endorsers are independent of CrowdKitty.
  Without limiting the above provisions, everything on the Site is provided to you "as is" and "as available" without warranty or condition of any kind, either expressed or implied, including, but not limited to, any implied warranties of quality, fitness for a particular purpose, or non-infringement. We exclude all representations and warranties to the fullest extent permissible under any Applicable Law.
  If a jurisdiction does not allow the exclusion of implied warranties but allows limitations of a certain maximum extent then we limit our warranties to that extent.
  Indemnification
  You shall defend, indemnify, and hold harmless CrowdKitty, its affiliates and each of its, and its affiliates’ employees, contractors, directors, suppliers and representatives from all liabilities, claims, and expenses, including reasonable legal fees, that arise from or relate to your use or misuse of, or access to, the Site, Service, Content or otherwise from your User Submissions, violation of this Agreement, or infringement by you, or any third party using your account, of any Intellectual Property Right of any person.</p>
   </div>
 </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Limitation of Liability</a>
    <div id="js-expander-content" class="expander-content">
      <p>In addition to the other disclaimers and restrictions on our liability set out in this Agreement and to the fullest extent permissible under the Applicable Law, CrowdKitty accepts no liability whatsoever for any direct, incidental, consequential or indirect loss or damage, loss or corruption of data, loss of profits, goodwill, bargain or opportunity or loss of anticipated savings or any other loss resulting from your access to, reliance on, or use of, or inability to use the Site and the Content, however caused and whether arising in contract, tort (including negligence) or otherwise, and whether or not CrowdKitty was aware of the possibility of such loss or damage.
  CrowdKitty shall not be liable for failures in the operation of a Project or for your interactions with any third parties found on or through the Service. In particular, CrowdKitty does not oversee or guarantee and is not liable in relation for:
  the actions of a Project Promoter, Project Verifier, PDM or Hive Manager;
  the performance, delivery or punctuality of Projects or the application of funds by the PDM;
  the delivery of goods and services available from third parties through the Service;
  and in any case CrowdKitty is not responsible for any damage or loss incurred as a result of any such dealings.
  All dealings are solely between you and such third parties. CrowdKitty is under no obligation to become involved in disputes between Funders, PDMs, Project Verifiers, Hive Managers and any other users of the Site or third parties. You release CrowdKitty, its officers, employees, agents and successors from claims, damages and demands of every kind, known or unknown, suspected or unsuspected, disclosed or undisclosed, arising out of or in any way related to such disputes.</p>
    </div>
  </div>
  
  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">Notices</a>
    <div id="js-expander-content" class="expander-content">
      <p>CrowdKitty will give you any necessary notices (including, but not limited to notices, agreements, legally required disclosures or other information in connection with the Service) by either posting them on the Site or sending them to your Account email address. You agree to check the Site for notices and will be considered to have received a notice when it is posted on the Site and/or sent to your Account email address.</p>
    </div>
  </div>

  <div class="expander">
    <a href="javascript:void(0)" id="js-expander-trigger" class="expander-trigger expander-hidden js-expander-trigger">General Provisions</a>
    <div id="js-expander-content" class="expander-content">
      <p>Except where expressly provided in this Agreement, the Contracts (Rights of Third Parties) Act 1999 is expressly excluded and these Terms of Use do not create any right enforceable by any person other than you and CrowdKitty.
  If any part of these Terms of Use is held by any court or competent authority, that provision or part-provision shall be given effect to the greatest extent possible and the remainder of this Agreement shall remain in full force and effect.
  A failure or delay by CrowdKitty to exercise any right or remedy provided under this Agreement or by law shall not constitute a waiver of that or any other right or remedy, nor shall it preclude or restrict any further exercise of that or any other right or remedy.
  This Agreement is the entire agreement between you and CrowdKitty with respect to the Service and the use of the Site and supersedes all prior or contemporaneous communications and proposals (whether oral, written or electronic) between you and CrowdKitty with respect to the Site and the Service.
  You may not, without the prior written consent of CrowdKitty, assign, transfer, sub-contract, or in any other way make over to any third party the benefit and/or the burden of this Agreement. CrowdKitty may assign, transfer and sub-contract this Agreement in whole or in part without restriction.
  These Terms of Use and any non-contractual obligations arising from or connected with them shall be governed by the laws of England and Wales. These Terms of Use shall be construed in accordance with the laws of England and Wales. You irrevocably submit to the exclusive jurisdiction of the courts of England and Wales to settle any dispute which may arise out of or in connection with these Terms of Use.
  Definitions
  "Applicable Law" in relation to any person, action or thing means the following in relation to that person, action or thing:

  any law, rule or regulation of any country (or political sub-division of a country) including Bribery Legislation;
  any obligation under any licence in any country (or political sub-division of a country); and
  any lawful and binding determination, decision or direction of a regulator in any country (or political sub-division of a country).
  "Bribery Legislation" means the UK Bribery Act 2010 and any subordinate legislation made under that Act from time to time together with any guidance or codes of practice issued by the relevant government department and any analogous legislation in any jurisdiction.

  "Content" means all content at or of the Site including, without limitation, any User Submissions, all things that you may see, read, hear, use, download or access on or via the Site (including but not limited to messages, written forum comments, interactive features generated, files, data, software, images, photographs, illustrations, text and other materials).

  "Fund" means for the purposes of delivering a Project in accordance with Clause 12 of this Agreement, the total sum of donations received from Funders and paid to the relevant PDM when a Project hits its Target Amount on the Site pursuant to Clause 14 .

  "Funders" means any person or organisation that has made either an Online Pledge or an Offline Pledge to a Project in accordance with Clause 14 of this Agreement.

  "Hive" means a branded campaign page which a Hive Manager will edit, maintain and may link to certain Projects on the Site.

  "Intellectual Property Rights" means all patents, copyrights, database rights, design rights and trade marks, right of publicity or other right (in any case whether registered or not) and all applications or rights to apply for any of the foregoing and all rights of confidence and Know-How however arising for their full term and any renewals and extensions.

  "Know-How" means information, data, know-how or experience whether patentable or not and including but not limited to any technical and commercial information relating to research, design and development, manufacture, use or sale.

  "Net Total Donations" means the total of payments actually made by the Payment Platforms (including fees payable to CrowdKitty) in respect of a Project.

  "Offline Pledge" is defined in Clause 14.1.

  "Online Pledge" is defined in Clause 14.1.

  "Payment Platform" means Paypal or GoCardless.

  "PDM" means the Project Delivery Manager appointed as a contractor for a Project pursuant to Clause 11.2 who is an individual or organisation who has experience and expertise in the implementation and delivery of projects of the kind that may be promoted and funded through the Site and who acts in accordance with Clause 12 of this Agreement.

  "PDM Services" means, in relation to a Project, the performance by a PDM of its obligations under Clause 12 of this Agreement.

  "Prohibited Act" means: (a) committing any offence: (i) under relevant Bribery Legislation; or (ii) under common law or any legislation creating offences in respect of fraudulent acts; or (b) defrauding or attempting to defraud or conspiring to defraud CrowdKitty.

  "Project" means the civic project posted by a Project Promoter on the Site relating to the design, construction, development, installation and/or refurbishment of a building, item of equipment and/or area of land or to the funding of a service which is or is intended to be used by or for the benefit or enjoyment of the public.

  "Project Plan and Budget" means the plan posted by a Project Promoter describing the Project and how it is to be delivered, including the total estimated and maximum cost of executing and completing the Project or such other plan as may be approved by CrowdKitty or the Project Verifier in writing from time to time.

  "Project Verifier" means the Project Verifier appointed for the Project pursuant to Clause 11.1.

  "Target Amount" means the amount of funds required for the Project to proceed and set by the Project Promoter when posting the Project.

  "Target Date" means the date by which the Target Amount must have been met for the Project to proceed and set by the Project Promoter when posting the Project.

  "Works" means those works, including where appropriate any design and/or the selection of materials and goods described in the Project Plan and Budget and to be executed by the PDM and its contractors.</p>
    </div>
  </div>
