<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger"><img id ="info" src="/assets/icons/info_icon.jpg"></div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Writing a Review</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>