<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger" id="proj_help_1"><img id="info-1" src="/assets/icons/info_icon.jpg"></div>
  </label>
  <input class="modal-state" id="modal-1" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Name</h1>
      <p class="modal-intro">The name of your project is the first thing people will see when browsing. It is the most important part of your project in helping attract attention and supporters.</p>
      <p class="modal-content">The name of your project should summarise what it is about in a few, simple words. It should help potential supporters understand what the essence of the project is and its general focus. You can go into greater detail in your summary and your description of the project.</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-2">
    <div class="modal-trigger" id="proj_help_2"><img id="info-2" src="/assets/icons/info_icon.jpg"></div>
  </label>
  <input class="modal-state" id="modal-2" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-2"></label>
      <h1>Summary</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-3">
    <div class="modal-trigger" id="proj_help_3"><img id="info-3" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-3" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-3"></label>
      <h1>Description</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-4">
    <div class="modal-trigger" id="proj_help_4"><img id="info-4" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-4" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-4"></label>
      <h1>Target</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-5">
    <div class="modal-trigger" id="proj_help_5"><img id="info-5" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-5" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-5"></label>
      <h1>Start Date</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-6">
    <div class="modal-trigger" id="proj_help_6"><img id="info-6" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-6" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-6"></label>
      <h1>Project Length</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-7">
    <div class="modal-trigger" id="proj_help_7"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-7" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-7"></label>
      <h1>Category</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-8">
    <div class="modal-trigger" id="proj_help_8"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-8" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-8"></label>
      <h1>Location</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-9">
    <div class="modal-trigger" id="proj_help_9"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-9" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-9"></label>
      <h1>Project Image</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-10">
    <div class="modal-trigger" id="proj_help_10"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-10" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-10"></label>
      <h1>Images</h1>
      <p class="modal-intro">When a film is amazing or truly terrible it can be memorable. But why exactly? Writing a review on Must See is your own record of your thoughts and experiences of a movie.</p>
      <p class="modal-content">When writing a review, forget about keeping it spoiler free! Include as much descriptive detail about why you loved or hated the movie. Who was a great actor? Who gave a shoddy performance? Record as much detail as possible and it will not only help you remember how you felt about the movie, but also help you choose your next film to view!</p>
    </div>
  </div>
</div>