<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger" id="proj_help_1"><img id="info-1" src="/assets/icons/info_icon.jpg"></div>
  </label>
  <input class="modal-state" id="modal-1" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Name</h1>
      <p class="modal-intro">The name of your project is the first thing people will see when browsing. It is the most important part of your project in helping to attract attention and supporters.</p>
      <p class="modal-content">The name of your project should summarise what it is about in a few, simple words. It should help potential supporters understand what the essence of the project is and its general focus. You can go into greater detail in your summary and your description of the project.</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-2">
    <div class="modal-trigger" id="proj_help_2"><img id="info-2" src="/assets/icons/info_icon.jpg"></div>
  </label>
  <input class="modal-state" id="modal-2" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-2"></label>
      <h1>Summary</h1>
      <p class="modal-intro">This is the second most important section for attracting support for your project.</p>
      <p class="modal-content">Your summary should be no longer than 1 or 2 sentences long, and should capture the essence of what your project is about. It should be short, to the point and clearly communicate what you are trying to achieve. When browsing projects, potential supporters will first see your title, main project image and your summary. These things are key to whether they click or not.</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-3">
    <div class="modal-trigger" id="proj_help_3"><img id="info-3" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-3" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-3"></label>
      <h1>Description</h1>
      <p class="modal-intro">The description is where you describe in detail the aims of the project and how you are going to achieve them.</p>
      <p class="modal-content">You should give as much detail as possible in this section. This section informs the potential supporters of the aims of the project, gives them reasons why they might want to sponsor the project, explains the partners involved if there are any and gives any other relavent information. </p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-4">
    <div class="modal-trigger" id="proj_help_4"><img id="info-4" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-4" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-4"></label>
      <h1>Target</h1>
      <p class="modal-intro">Your target will be displayed on your project page and will clearly show your project's target and how much you have still to raise.</p>
      <p class="modal-content">Your target is how much you need to achieve the aims of your project. This should only include expenses for the project (see terms and conditions for further details). Your target will be clearly displayed and potential supporters can donate any amount towards the project if they wish. Once someone has made a pledge, this will be automatically updated on the project page to show their contribution. CrowdKitty does everything for you!</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-5">
    <div class="modal-trigger" id="proj_help_5"><img id="info-5" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-5" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-5"></label>
      <h1>Start Date</h1>
      <p class="modal-intro">The start date should be a date in the not so distance future. This allows for you to continue planning and organising your project, while still raising awareness for your cause.</p>
      <p class="modal-content">Your project will not appear on our projects page until it reaches its start date. We are currently working to add extras to our project pages so people can start reading about a project before it begins. This means you will be able to generate support for your project before you even start taking any donations! This will also give your project time to finish any paper work it might have lying about the house, such as planning permissions, etc. </p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-6">
    <div class="modal-trigger" id="proj_help_6"><img id="info-6" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-6" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-6"></label>
      <h1>Project Length</h1>
      <p class="modal-intro">The length of your project is an important factor to consider when raising money for a cause; people are unlikely to pledge to a cause that is too long or too short.</p>
      <p class="modal-content">The longest a project can run for is 182 days (6 months). However, remember when setting your target that a longer duration is not necessarily better. The same goes for if a project is too short. The shortest a project can for is 7 days (one week). The length of time your project runs for, will be dependent on how much money you need to raise. Think carefully about how much you need to raise and try to match this with the length of time your project runs for.</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-7">
    <div class="modal-trigger" id="proj_help_7"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-7" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-7"></label>
      <h1>Category</h1>
      <p class="modal-intro">A category will assist in promoting your project and help supporters find it.</p>
      <p class="modal-content">You should select a category that best suits your project. This will help potential supporters find your project. Searching projects with similar categories can help you find guidance on the sorts of things you should, or could, include in your project. </p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-8">
    <div class="modal-trigger" id="proj_help_8"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-8" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-8"></label>
      <h1>Location</h1>
      <p class="modal-intro">Make sure you clearly state your location, the more specific the better as it can help drum up local support for your project. This is the whole point of CrowdKitty!</p>
      <p class="modal-content">CrowdKitty is all about supporting your local community, so stating your location will help local people find you and your project. As a CrowdKitty user, you should know that when a person registers with our site their location is used to help promote projects in their local area. If you leave this valuable piece of information out, then they might not find your local project. Make sure you are as specific as possible with your location. If you have any difficulties or queries regarding this, please contact a member of our team. Simply go to out contact us page now.</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-9">
    <div class="modal-trigger" id="proj_help_9"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-9" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-9"></label>
      <h1>Project Image</h1>
      <p class="modal-intro">This is the third most valuable piece of information you can provide, as your main project image will appear on our discover projects page and will help attect interest for your project.</p>
      <p class="modal-content">Your main project image will appear on your 'project card' on our discover projects page. It should be eye catching and summarise the general tone of your project. Not sure what we mean? Why not have a wander through similar projects for ideas. We recommend avoiding plans or anything technical, this can be included later in your projects picture gallery. It should clearly demonstrate what your project is all about and help attract potential supporters.</p>
    </div>
  </div>
</div>

<div class="modal">
  <label for="modal-10">
    <div class="modal-trigger" id="proj_help_10"><img id="info-7" src="/assets/icons/info_icon.jpg" alt="Click for help"></div>
  </label>
  <input class="modal-state" id="modal-10" class="modal-button" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-10"></label>
      <h1>Images</h1>
      <p class="modal-intro">When a potential supporter clicks on your project page, having pictures that clearly demonstrate the plans and intentions of your project can help.</p>
      <p class="modal-content">The project gallery is the perfect place to include a range of images that demonstrate the aims and needs of your project. It is also a great place to include planning designs, design mockups, current images, desired objectives and anything else that you think could help your cause. If you are not sure what to include have a look at similar projects that already exist on our site.</p>
    </div>
  </div>
</div>