<%= form_tag projects_path, method: "get" do %>
  <% binding.pry %>
  <%= select_tag :project_id, options_for_select(@projects.map {|p| [p.category.name, p.category.id]}.uniq, selected: @projects.first.category.id) %>
  <%= submit_tag "Filter" %>
<% end %>

<% @projects.each do |project| %>

<p><%= link_to "#{project.name}", project_path(project) %> </p>

<%end %>
