@import "bourbon";
@import "neat";
@import "base/base";
@import "category";
@import 'refills/_navigation';
@import 'refills/_hover-tile-animation';
@import 'refills/_footer';
@import 'refills/_cards';


body{

}

.main {
  margin-bottom: 10px;
}

.home_about {
color: white;
background-image: url('garden1.png');
height: 280px;
width:100%;
background-size: cover;
text-align: center;
border-radius: 0.5rem;
margin-bottom: 10px;
}

.home_about h4 {
  /*-webkit-text-stroke: 0.1px #57b382;*/
font-family: 'Sansita One', cursive;
font-size: 40px;
text-shadow: 0 0 3px #121313;
color: #fff;
padding-top: 80px;
opacity: 0.9;
}

.home_about_link  {
  margin-top: 20px;

}

.home_about_link a {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #fff;
  height: 20px;
  width: 40px;
  padding: 8px 8px 8px 8px;
  border-radius: 0.5rem;
}

.home_about_link a:hover { 
    background-color: #61C791;
    border: 3px solid #61C791;
}

.navigation-wrapper {
font-family: 'Sansita One', cursive;
color: #477DCA;
text-decoration: none;
list-style: none;
}

li, a {
list-style: none;
}

.status_box {

}

.reward {

}