/*
 *= require jquery-ui
 */

 @import "bourbon";
 @import "neat";
 @import "base/base";
 @import "category";
 @import 'refills/_navigation';
 @import 'refills/_hover-tile-animation';
 @import 'refills/_footer';
 @import 'refills/_cards';
 @import 'refills/_search-tools';
 @import 'refills/_progress-bar-indication';
 @import 'refills/_expander';
 @import 'refills/_accordion-tabs-minimal';
 @import 'refills/_vertical-tabs';
 @import 'refills/_scroll-on-page';
 @import 'refills/_modal';
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "social-share-button";

 @import 'project.scss';
 @import 'homepage.scss';
 @import 'about_pages.scss';
 @import 'profile_page.scss';
 @import 'discover_projects.scss';
 @import 'create_page.scss';
 @import 'category_page.scss';


 body {
  background-color:#f8f8f8;
  margin: 0px;
}

main {
  @include outer-container;
  max-width: 68em;
}

.logo_wrapper {
  margin-top: 30px;
  margin-bottom: 20px;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; 
  }

.terms {
  font-size: 14px;
  margin-bottom: 10px;
}

.expander {
  width: 100%;
  margin:0;
}

.border {
  border: 3px solid #fff;
}

.notification_header {
  @include outer-container;
  background-color: #2A2F36;
  margin: 0px 0px;
  height: 35px;
  padding-left: 20px;
  max-width: 100%;
}

.header_notification {
  @include span-columns(6);
  float: left;
  padding-top: 10px;
}

.header_login {
  @include span-columns(6);
  float: right;
  text-align: right;
  padding-right: 20px;
  padding-top: 5px;
  font-family: 'Sansita One', cursive;
}

.header_login a {
  padding-right: 15px;
  color: white;
}

.header_login a:hover {
  color: #80d2a7;
}

.header_login img {
  position: relative;
  padding-right: 15px;
  max-height: 10px;
  max-width: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sansita One', cursive;
  margin: 0px 0px 15px 0px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 22px;
  margin-left: 0px;
  // width: 50%;
}

h6 {
  font-size: 18px;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #58C9B9;
}

button, input[type="button"], input[type="reset"], input[type="submit"]:hover { 
  background-color: #F23C55;
}

button {
  background-color: #58C9B9;
}

button:hover {
  background-color: #F23C55;
}

.input {
  color: white;
  background-color: #58C9B9;
  font-weight: bold;
  font-size: 18px;
  border: 3px solid #fff;
  width: 220px;
  padding: 8px;
  border-radius: 0.5rem;
}

.input:hover {
  background-color: #F23C55;
  border: 3px solid #F23C55;
}

.input a{
  color: white;
}

.link {
  padding: 0px;
  text-align: right;
}

.link a {
  color: #58C9B9;
  font-weight: bold;
}

.link a:hover {
  color: #58C9B9;
  font-weight: bold;
  text-decoration: underline;
}

.header {
  color: white;
  height: 260px;
  width:100%;
  background-size: cover;
  text-align: center;
}

.header h1,.header h2,.header h3, .header h4 {
  font-family: 'Sansita One', cursive;
  text-shadow: 0 0 3px #121313;
  color: #fff;
  padding-top: 50px;
  opacity: 0.95;
  margin: 0;
}

.header h1 {
  font-size: 100px;
}

.header h2 {
  font-size: 70px;
}

.card a {
  color: #58C9B9;
  text-align: center;
}

.logo {
  height: 50px;
  width: auto;
}

.accordion-tabs-minimal {
  padding-top: 10px;
}

.navigation-wrapper {
  font-family: 'Sansita One', cursive;
  color: #477DCA;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
}

header.navigation ul li.nav-link {
  padding: 0;
}

.nav-link img {
  position: relative;
  padding-right: 15px;
  max-height: 10px;
  max-width: auto;
}

li, a {
  list-style: none;
}

.footer {
  margin-top: 25px;
  // min-height: 200px;
}

.fancy-search *, .projects-filter * {
  display: inline;
}

.search_location {
  height: 87px;
  margin-top: 60px;
  border-radius: 0;
  text-align: left;
}

.fancy-search {
  background-color: rgba(42,47,54,0.7);
  border: none;
  text-align: center;
  height: 87px;
  vertical-align: middle;
  padding: 26px;
}

.search-container {
  text-align: center;
  margin-top: 20px;
  height: 70px;
}

.fancy-search .search-text {
  width: 20%;
}

.projects-filter .projects-search {
  width: 20%;
}

.styled-select select {
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  height: 36px;
  border: 1px solid #ddd;
}

.styled-select {
  height: 36px;
  overflow: hidden;
  border-radius: 3px;
}

.due_notification {
  background-color: #FFFF99;
  padding-top: 2px;
  padding-left: 10px;
}

.date-select * {
  display: inline;
}

.comment-wrapper {
  background-color: #e9eaea;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 0.5em;
  height: auto;
}

.comment-wrapper p {
  font-size: 22px;
}

.summary_box {
  @include outer-container;
}

.summary_image {
  @include span-columns(6);
  float:right;
}

.summary_2 p{
  @include span-columns(6);
  font-size: 18px;
  float: left;
}

.summary {
  font-size: 18px;
}

.project-controls * {
  display: inline;
}

.form-wrapper {
  @include outer-container;
  background-color: white;
  width: 100%;
  margin: 10px auto 10px auto;
  border: 2px solid #d4d5d6;
  padding: 20px 20px 20px 20px;
}

.login-button, .social-login-button img {
  margin: 10px 0 10px 0;
}

.failed_project {
  background-color: red;
  color: white;
  width: 30%;
  text-align: center;
}

#location_autocomplete .location_search {
  width: 20%;
}

.selected_location {
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  padding: 8px;
  color: #000;
  margin-right: 5px;
}

.form_location {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

header.navigation .search-bar form input[type=search] {
  color: #000;
}


.card {
  max-width: 30%;
}

.gallery-pictures {
  height: 60px;
  width: auto;
  padding: 0 10px;
}

#main-image {
  height: 400px;
  width: auto;
}

.main-image-container {
  text-align: center;
}

.gallery-container {
  margin: 0 -10px;
}

#questions_link a {
  color: #61C791;
  font-weight: bold;
}

.scroll-on-page a{
  color: #58C9B9;
  font-weight: bold;
}

.cards {
  justify-content: flex-start;
}

input[type="submit"] {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 3px;
}

.page_main {
  @include outer-container;
  background-color: white;
  padding: 30px;
  border: 2px solid #e9eaea;
}

.page_main_box {
  background-color: white;
  padding: 30px;
  border: 2px solid #e9eaea;
  margin: 10px 0px;
}
