.bootcamp_boxes {
  @include outer-container;
  background-image: url('advice_pinboard.png');
  background-size: cover;
  border: 10px #2A2F36 solid;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 320px;
  width: auto;
}

.box-header-title {
  @include span-columns(9);
  @include omega();
}

.box-header-title h4 {
  font-size: 20px;
  font-family: 'Sansita One', cursive;
  margin: 0;
  font-weight: bold;
  position: relative;
  top: 10px;
}

.box_text {
  @include span-columns(12);
  @include omega();
}

.box_text p {
  text-align: justify;
  margin-top: 10px;
  font-size: 16px;
  padding: 5px;
}

.create_project_advice {
  @include outer-container;
  padding: 5px 10px 5px 5px;
  margin-bottom: 15px;
  margin-top: 25px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: white;
  width: 100%;
  border: 2px solid #e9eaea;
}

.create_project_row {
  @include span-columns(12);
  @include omega();
  text-align: center;
}

#create_project2 {
  margin: 20px auto 10px auto;
  margin-bottom: 10px;
}

.advice_box {
  @include outer-container;
}

#paragraph-tagline {
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  color: #58C9B9;
  margin: 0px 10px;
}

#paragraph-tagline2 {
  font-weight: bold;
  padding-top: 10px;
  font-size: 18px;
  margin: 0px 10px;
}

.advice_text_right {
  @include span-columns(6);
  @include omega();
  float: right;
  padding: 10px;

}

.advice_text_left {
  @include span-columns(6);
  @include omega();
  float: left;
  font-size: 20px;
  padding: 10px;
  text-align: justify;
}

#further_information {
  font-size: 16px;
}

#read_link {
  text-align: center;
  margin-bottom: 10px;
}

#create_project_header {
  margin-left: 10px;
  font-family: 'Sansita One', cursive;
  font-size: 40px;
}
