.categories {
  padding: 15px 30px;
  border: 2px solid #e9eaea;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
}

.current_projects {
  padding: 15px 30px;
  border: 2px solid #e9eaea;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
}

.current_projects h6 {
  font-family: 'Sansita One', cursive;
  margin-top: 10px;
  font-size: 30px;
}