#discover_projects_header {
  margin-bottom: 5px;
  background-image: url('raising.jpg');
}

#discover_projects_header h4 {
  font-family: 'Sansita One', cursive;
    font-size: 70px;
    text-shadow: 0 0 3px #121313;
    color: #fff;
    padding-top: 70px;
    opacity: 0.97;
    text-align: center;
    margin: 0;
}

.categories {
  padding: 15px 30px;
  border: 2px solid #e9eaea;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
}

.category_button_box {
  margin: 0px auto 20px auto;
  display: block;
}

#category_buttons {
  display: inline-block;
  text-align: center;
}

.current_projects {
  padding: 15px 30px;
  border: 2px solid #e9eaea;
  margin-bottom: 5px;
  background-color: white;
  width: 100%;
}

.current_projects h6 {
  font-family: 'Sansita One', cursive;
  margin-top: 10px;
  font-size: 30px;
  margin-left: 30px;
}
