
.profile_box {
  @include outer-container;
}

.profile_info {
  @include span-columns(8);
  float: right;
}

.profile_image {
  @include span-columns(4);
  float: left;
}

.profile_image img {
  border-radius: 50%;
  height: 300px;
  width: auto;
}

.pledge {
  margin-bottom: 15px;
  margin-top: 15px;
  
}

.my_pledges {
background-color: white;
padding: 15px;
margin-bottom: 20px;
}

#cancel-account {
  text-align: right;
}

#cancel-account a {
  font-size: 20px;
}

#icon-dot{
  height: 5px;
  width: auto;
  margin: 3px 10px;
}

#profile-box {
  margin-bottom: 10px;
}

.profile-box1 {
  height: 50%;
}
