.top_of_page_project{
  @include outer-container;
  margin-bottom: 20px;
}

.project_status {
  @include span-columns(6);
  font-size: 18px;
}

.project_image {
  @include span-columns(6);
}

.reward {
  font-size: 18px;
  background-color: #e9eaea;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 0.5em;
  height: auto;
}

//create a new project form//

.new_form {
  @include span-columns(11);
}

.help_box {
  @include span-columns(1);
}

#proj_help_1 img {
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_2 img {
  margin-top: 53px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_3 img {
  margin-top: 45px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_4 img {
  margin-top: 30px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_5 img {
  margin-top: 30px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_6 img {
  margin-top: 48px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_7 img {
  margin-top: 35px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_8 img {
  margin-top: 55px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_9 img {
  margin-top: 55px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#proj_help_10 img {
  margin-top: 45px;
  max-height: 30px;
  position: relative;
  top: 17px;
}

#project_save {
  margin-top: 40px; 
}

ol {
  padding-left: 20px; 
}

ol li {
  list-style-type: decimal;
}

.form_formatting {
  margin: 0 40px;
}