<h1><%= @category.name %></h1>


<% @category.projects.each do |project| %>
    <div>
      <%= project.name %><br>
      <%= project.summary %>
      <%= link_to 'show', project %>
    </div>
<% end %>

