<!-- <form role="search" action="/projects" placeholder="search projects" >
  <input type="search" placeholder="Search projects" name="search" id="srch-term">
  <button type="submit"><img src=<%#= image_path "search-icon.png" %> alt="Search Icon"></button>
</form> -->


<%= form_tag root, method: "get" do %>
  <%= label_tag('search', "Search for:") %>
  <%= text_field_tag('search') %>
  <%= select_tag 'category_id', options_for_select(@categories.map {|c| [c.name, c.id]}.uniq.unshift(['all', 'all']), selected: @category_id) %>
<% end %>